body, html {
	margin: 0;
	padding: 10px;
}
body, textarea {
	font-family: sans-serif;
	color: #000;
}

.act {
	display: block;
}
.width-100 {
	width: 100%;
}
.width-50 {
	width: 49.5%;
}

.full-title {
	font-weight: bold;
	font-size: 30px;
}
.title {
	font-weight: bold;
	padding: 10px 0 0 10px;
	text-align: center;
}

.drop-group {
	display: flex;
	grid-gap: 0px 10px;
	align-content: stretch;
	align-items: flex-start;
}
.drop-target {
	border: 1px solid #eee;
	background-color: #fafafa;
	margin: 10px 0;
}
.droppable {
	min-height: 104px; /* 100 height of card + 2px border */
	min-width: 104px; /* 100 height of card + 2px border */
	margin: 10px 0;
}

.card-yellow {
	background-color: #fcffb8;
	border: 1px solid #e1e84d;
}
.card-blue {
	background-color: #b8d5ff;
	border: 1px solid #4d9ae8;
}
.card-red {
	background-color: #ffb8b8;
	border: 1px solid #e84d4d;
}
.card {
	height: 100px;
	width: 100px;
	text-overflow: hidden;
	margin-left: 10px;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
}
.card textarea {
	background-color: transparent;
	padding: 0;
	border: 0;
	width: 90px;
	height: 90px;
	resize: unset; /* gets weird with dragula */
}
.card, .card textarea {
	font-size: 10px;
}

.hint {
	text-align: center;
	display: block;
	font-weight: bold;
	line-height: 80px;
}

.drop-group .drop-target {
	flex: 1;
}

#zone-toolbar {
	display: inline-block;
}
#zone-trash {
	display: inline-block;
	margin-left: 10px;
	border: 1px dotted red;
}
#zone-trash .label {
	display: block;
	text-align: center;
	line-height: 90px;
	color: red;
	position: absolute;
	width: 100px;
}

#zone-toolbar .card textarea {
	display: none;
}

.card {
	cursor: move;
}

#meta {
	position: absolute;
	top: 10px;
	right: 10px;
}
